#svgWrap{
    height: 80vmin;
    width: 80vmin;
    margin: 0 auto;
}
.pieceCircle{
    transition: all 500ms linear 0s;
}
#LogArea{
    width: 200px;
    font-size: 22px;
    font-family: serif;
    color: #484;
    border: 1px solid #4f4;
    padding: 20px;
    margin: 20px;
}
